*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #0c275c;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}